.DS_Store
.vscode
cxt.egg-info
nbs
tmp
cxt/lightning_logs
cxt/__pycache__
models
figures_paper
cxt/scripts/parameter_scripts/parameter
build
cxt/api
archive
archive.tar.gz

# figures: generated outputs and caches
figures/output/
figures/**/__pycache__

# revision
revision/

# vim
*.swp
*.swo
